# Data Science with Cars
This is a group project within the course Data Science at DHBW Stuttgart on data of cars. The group members are Felix Waldbach and Niklas Wolf.

### Doing various imports that we need for our project

In [9]:
import pandas as pd
import numpy as np

In [35]:
colnames = ['mpg','cylinders','displacement','horsepower','weight','acceleration','modelyear','origin','carname']
df = pd.read_csv('auto-mpg.data-original',sep='\t+|\s\s+', header=None, engine='python',names=colnames)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       406 non-null float64
displacement    406 non-null float64
horsepower      400 non-null float64
weight          406 non-null float64
acceleration    406 non-null float64
modelyear       406 non-null float64
origin          406 non-null float64
carname         406 non-null object
dtypes: float64(8), object(1)
memory usage: 28.6+ KB

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,carname
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,"""chevrolet chevelle malibu"""
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,"""buick skylark 320"""
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,"""plymouth satellite"""
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,"""amc rebel sst"""
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,"""ford torino"""

### Analyzing the raw data

### Data Preparation

### Regression

### Classification